@model StarForums.Web.ViewModels.Home.CategoryViewModel
@{ this.ViewData["Title"] = Model.Name; }
<div class="text-center">
    <div class="mb-2">
        <div class="justify-content-center">
            <h3>@Model.Name</h3>
            <h6>@Model.Description</h6>
        </div>
        <div class="align-self-end">
            @if (this.User.Identity.IsAuthenticated)
            {
                <a class="btn btn-sm btn-primary btn-dark" href="/@Model.Name/Create">Create new post</a>
            }
            else
            {
                <span class="text-dark">Want to add a post? Please <a href="/Login" class="text-success font-weight-bold">sign-in</a> or create a <a href="/Register" class="text-success font-weight-bold">new account</a>.</span>
            }
        </div>
        <div class="d-inline-block mt-2">
            @if (this.User.IsInRole("Administrator"))
            {
                <a asp-controller="Category" asp-action="Edit" asp-route-title="@Model.Name" class="btn btn-sm btn-dark">Edit</a>
            }
        </div>
    </div>
    <table class="table table-sm table-bordered rounded-lg">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Posts</th>
                <th scope="col">Latest comment</th>
                <th scope="col">Replies</th>
            </tr>
        </thead>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>
                    <div><a href="/@Model.Name/@post.Id">@post.Title</a></div>
                    <div class="small text-muted ">posted by: <a class="text-muted font-weight-bold" asp-controller="Profile" asp-action="Index" asp-route-u="@post.UserUserName">@post.UserUserName</a></div>
                    <div class="small text-muted ">@post.CreatedOn.ToString("dd-MMM-yyyy hh:mm tt")</div>
                </td>
                <td class="align-middle">
                    @if (post.Comments.Any())
                    {
                        <div class=""><span style="font-size: 14px">@post.Comments.Last().CreatedOn<br />by: <a asp-controller="Profile" asp-action="Index" asp-route-u="@post.Comments.Last().UserUsername">@post.Comments.Last().UserUsername</a></span></div>
                    }
                    else
                    {
                        <div><span style="font-size: 14px">No comments yet</span></div>
                    }
                </td>
                <td class="align-middle">
                    <div>
                        <span>@post.Comments.Count()</span>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>