@model StarForums.Web.ViewModels.Home.CategoryViewModel
@{ this.ViewData["Title"] = Model.Name; }
<div class="text-center">
    <div class="mb-2">
        <div class="justify-content-center">
            <h3>@Model.Name</h3>
            <h6>@Model.Description</h6>
        </div>
        <div class="align-self-end">
            <a class="btn btn-sm btn-primary btn-dark" href="/@Model.Name/Create">Create new post</a>
        </div>
    </div>
    <table class="table table-sm table-bordered rounded-lg">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Posts</th>
                <th scope="col">Latest comment</th>
                <th scope="col">Replies</th>
            </tr>
        </thead>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>
                    <div><a href="/@Model.Name/@post.Id">@post.Title</a></div>
                    <div class="small text-muted">by: <a class="text-muted" href="#">@post.UserUserName</a></div>
                </td>
                <td class="align-middle">
                    @if (post.Comments.Any())
                    {
                        <div class=""><span style="font-size: 14px">@post.Comments.Last().CreatedOn <br /> by: <a href="#">@post.Comments.Last().User.UserName</a></span></div>
                    }
                    else
                    {
                        <div><span style="font-size: 14px">Not comments yet</span></div>
                    }
                </td>
                <td class="align-middle">
                    <div>
                        <span>@post.Comments.Count()</span>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>